*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif;
}

#perguntasFrequentes{
    padding: 20px;
    text-align: center;
}

.pagamentoDeParcelas p a{
    font-size: 19px;
    text-decoration: none;
}

.pagamentoDeParcelas p{
    line-height: 1.4;
}

.pagamentoDeParcelas img{
    position: relative;
    top: -2px;
}

ul {
    margin: 0 0 0 50px;
    padding: 10px 20px 10px 40px;
}

li {
    margin: 10px;
    color: #333; 
    cursor: pointer;
}

.pergunta {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(145, 143, 143, 0.096);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer; 
}

.pergunta p {
    display: none;
    font-size: 18px;
    margin-top: 10px; 
}

.pergunta.active p {
    display: block;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
    animation: fadeIn 0.5s ease;
}

.pergunta.active p a {
    color: rgb(5, 5, 5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pergunta.active p.backgroundModificado{
    color: rgba(255, 255, 255, 0.774);
    background-color:#024e14e1;
    line-height: 1.5;
}

.pergunta.active p.textTutorialPagamentoParcelas {
    line-height: 1.5;
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px 5px 50px;
}

.pergunta.active p.links {
    text-align: center;
    margin-top: -20px;
}

.pergunta.active p.links a {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pergunta.active p.links span {
    font-weight: bold;
}

.pergunta.active .ajuda{
    text-align: center;
    color: rgb(190, 4, 4);
}

.links a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#024e14e1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    background-color: #077e23;
}

.links a .arrow {
    font-size: 20px;
    margin-right: 5px;
    transition: font-size 0.3s ease; 
}

.links a:hover .arrow {
    font-size: 24px;
}

.left-arrow,.links a .left-arrow {
    transform: scaleX(-1);
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease; 
}

.links a:hover .left-arrow {
    transform: scaleX(-1) scale(1.2);
}

